body 
{
    background-color: #5f9fcd ;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo
{
    text-align: center;
    border-bottom: 3px dashed #000;
    margin:20px ;

}
.main-content
{
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:35px ;
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    margin-bottom:40px ;
    border-radius: 5px;
}
h1
{ 
    text-align: center;
    border-bottom: 3px solid #5f9fcd ;
    padding-bottom:5px ;

}
label
{
    
    color: #2E4053;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    width: 200px;
    max-height: 20px;
    margin-bottom:20px ;
    margin-top: 20px;
    margin-right: 50px;
}
input, select
{
    flex: 1;
    display: inline-block;
    width: 200px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
select
{
    margin-bottom: 20px;
    margin-top: 0;
}
input[type="submit"],
input[type="reset"] 
{
    border-color: #5f9fcd;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}


input[type="submit"]
 {
    background-color: #5f9fcd;
    color: white; 
    margin-left: 45px;
}

input[type="reset"] {
    background-color: #5f9fcd;
    color: white; 
    margin-left: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #ccc; 
}
 